
**Aman_Kumar_Mahato_Worksheet_3**<br>
**L5CG13**



---
# **To - Do - Task** <br>
Please Complete all the problem listed below.
3.1 Warm Up Exercises:<br>
1. Sorting and Subsetting:<br>
Complete all following Task:
• Dataset for the Task: "titanic.csv"<br>
Following task is common for all the problem:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Concept and Technologies of AI/Titanic-Dataset.csv")

**Problem 1 - Sorting:**
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.

In [ ]:
fare = df.sort_values('Fare')
fare = fare['Fare']
fare.head()

271    0.0
597    0.0
302    0.0
633    0.0
277    0.0
Name: Fare, dtype: float64

2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.

In [ ]:
class_age = df[['Pclass','Age']]
class_age = class_age.sort_values(by = ['Pclass','Age'] )
class_age.head()

     Pclass    Age
305       1   0.92
297       1   2.00
445       1   4.00
802       1  11.00
435       1  14.00

3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [ ]:
survived_gender = df[['Survived','Sex']]
survived_gander = survived_gender.sort_values(by = ['Survived','Sex'])
survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

**Problem - 2 - Subsetting:**<br>
Complete all the following Task:
<br>
Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.

In [3]:
fare_gt_100 = df['Fare'].loc[df['Fare']>100]
fare_gt_100.head()

27     263.0000
31     146.5208
88     263.0000
118    247.5208
195    146.5208
Name: Fare, dtype: float64

2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.

In [ ]:
first_class = df['Pclass'].loc[df['Pclass']==1]
first_class

1      1
3      1
6      1
11     1
23     1
      ..
871    1
872    1
879    1
887    1
889    1
Name: Pclass, Length: 216, dtype: int64

3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [21]:
female_under_18 = df.loc[(df['Age'] <18) & (df['Sex'] == 'female')]
female_under_18.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

**Subsetting Rows by Categorical variables:**
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"(Southampton), assigning the result to embarked c or s. View the printed result.<br>
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first_second_class.View the printed result.

In [34]:
embarked_c_or_s = df['Embarked'].loc[df['Embarked'].isin (['C' or 'S'])]
embarked_c_or_s

1      C
9      C
19     C
26     C
30     C
      ..
866    C
874    C
875    C
879    C
889    C
Name: Embarked, Length: 168, dtype: object

In [108]:
first_second_class = df['Pclass'].loc[df['Pclass'].isin([1 or 2])]
first_second_class

1      1
3      1
6      1
11     1
23     1
      ..
871    1
872    1
879    1
887    1
889    1
Name: Pclass, Length: 216, dtype: int64

# **3.2 Exploratory Data Analysis Practice Exercise - 1.**

**Answer the following questions from Dataset:**<br>
Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [114]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [115]:
df['fare_per_year'] = df['Fare']/df['Age']
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333

In [116]:
high_fare_age = df['fare_per_year'].loc[df['fare_per_year']>5]
high_fare_age

7      10.537500
16     14.562500
27     13.842105
31      5.232886
43     13.859733
         ...
813     5.212500
824    19.843750
827    37.004200
831    22.590361
850     7.818750
Name: fare_per_year, Length: 71, dtype: float64

In [117]:
high_fare_age_srt = df.sort_values(by='fare_per_year', ascending= False)
high_fare_age_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,164.728261,151.550000
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,75.775000,151.550000
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,46.900000,15.633333
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,39.687500,13.229167
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,39.000000,19.500000

In [118]:
result = high_fare_age_srt[['Name','fare_per_year']]
print(result)

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000
..                               ...            ...
179              Leonard, Mr. Lionel       0.000000
822  Reuchlin, Jonkheer. John George       0.000000
263            Harrison, Mr. William       0.000000
815                 Fry, Mr. Richard       0.000000
806           Andrews, Mr. Thomas Jr       0.000000

[891 rows x 2 columns]

# Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their class?
**To answer the question perform following operations:**
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [119]:
df['fare_per_class'] = df['Fare']/df['Pclass']
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333

In [120]:
adult_males = df.loc[(df['Age'] >=18) & (df['Sex'] == 'male')]
adult_males.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q,0.302082,2.819433
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417,51.862500
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0.402500,2.683333

In [121]:
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
adult_males_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,14.637977,512.3292
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,14.231367,512.3292
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,4.109375,263.0000
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105,263.0000
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,10.313367,247.5208

In [122]:
result = adult_males_srt[['Name','Age','fare_per_class']]
print(result)

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
806              Andrews, Mr. Thomas Jr  39.0          0.0000
481    Frost, Mr. Anthony Wood "Archie"  28.0          0.0000
413      Cunningham, Mr. Alfred Fleming  28.0          0.0000
466               Campbell, Mr. William  28.0          0.0000
271        Tornquist, Mr. William Henry  25.0          0.0000

[519 rows x 3 columns]

# **3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:**
Based on the dataset Answer the following question:<br>
**What percent of the total fare revenue came from each passenger class?**<br>
To answer the question perform following operation:<br>
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [123]:
total_fare = df['Fare'].sum()
print("The total fare paid across all the passengers is: ",total_fare)

The total fare paid across all the passengers is:  28693.9493

In [140]:
pclass_1 = df[df['Pclass'] == 1]['Fare'].sum()
print("The total fare paid by first class passengers is: ",pclass_1)

The total fare paid by first class passengers is:  18177.4125

In [141]:
pclass_2 = df[df['Pclass'] == 2]['Fare'].sum()
print("The total fare paid by second class passengers is: ",pclass_2)

The total fare paid by second class passengers is:  3801.8417

In [143]:
pclass_3 = df[df['Pclass'] == 3]['Fare'].sum()
print("The total fare paid by third class passengers is: ",pclass_3)

The total fare paid by third class passengers is:  6714.6951

In [144]:
fare_totals = df.groupby('Pclass')['Fare'].sum()
fare_list = fare_totals.tolist()
total_fare = fare_totals.sum()
fare_proportions = (fare_totals / total_fare).tolist()

print("\nFare Totals (as a list):", fare_list)
print("\nFare Proportions by Class:", fare_proportions)

Fare Totals (as a list): [18177.4125, 3801.8417, 6714.6951]

Fare Proportions by Class: [0.6334928771899656, 0.1324962855496507, 0.23401083726038366]

# What percent of the total number of passengers on the Titanic belonged to each age group (e.g., child, adult, senior)?
To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [145]:
def categorize_age(age):
    if age < 18:
        return "child"
    elif age < 65:
        return "adult"
    else:
        return "senior"

df['age_group'] = df['Age'].apply(categorize_age)

total_passengers = len(df)

age_group_counts = df['age_group'].value_counts()

age_group_proportions = (age_group_counts / total_passengers) * 100

print("Total passengers:", total_passengers)
print("\nPassenger counts by age group:")
print(age_group_counts)
print("\nProportion of passengers by age group (as percentages):")
print(age_group_proportions)

Total passengers: 891

Passenger counts by age group:
age_group
adult     767
child     113
senior     11
Name: count, dtype: int64

Proportion of passengers by age group (as percentages):
age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64